
/***** Footer *****/

.footer-top { padding: 60px 0; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: rgb(243, 38, 38); }


.footer-about img.logo-footer { max-width: 150px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: rgb(233, 54, 54); }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #fff; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #f74040; text-align: center; color: #fff; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #fff; border: 0; }

/* footer navbar */
.navbar { padding: 0; background: #f74040; backface-visibility: hidden; }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }
#bgfooter {
	background-position-y: -47px;
	object-fit: cover;
	background-position-x: 104px;
   
}
#logof {
	width: 50%;
	height: 50%;
}